$white-color: #FFFFFF;
$white-sorting-color: #F5F5F5;
$white-sorting-open-color: #EBEBEB;
$black-color: #000000;
$black-orders-line-color: #111111;
$black-sorting-color: #313131;


$green-border-cart-color: #EBEBEB;
$green-filter-color: #E7F1E8;
$green-color: #B6D5B9;
$green-extra-button: #9AA89B;
$green-offer-color: #A4CBA3;
$green-footer-color: #648F64;
$green-input-color: #6CAC72;
$green-text-checkbox-color: #519057;
$green-button-color: #456F49;
$green-input-border-color: #2A592E;
$green-text-color: #202B21;

$gray-text-color: #2C2C2C;
$gray-text-price-color: #313131;
$gray-button-disabled-color: #616161;
$gray-sorting-color: #8E8E8E;
$gray-orders-text-color: #ADADAD;
$gray-color: #C5C5C5;
$gray-color-border: #C7C7C7;


$container-width: 1240px;


